body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  fill: #242424;
  text-align: center;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  cursor: default;
}

.legend {
  font-family: 'Raleway', sans-serif;
  fill: #333333;
}

.tooltip {
  fill: #333333;
}


.controls {
width:300px;
height: 680px;
position: absolute;
top:0;
left:0;
z-index: 5000;
background: $darkgray;
padding-top: 15px;
 .label {
   font-size: 1.2rem;
   text-shadow:none;
   color: white;
 }

}
